{%if settings.dgHomeLink === true%}
    <nav class="navbar flex items-center font-mono flex-wrap bg-clay-100 border-b-moss-300 p-5">
        <div class="flex items-center flex-shrink-0"> 
            <a href="/">A*A</a>
        </div>
        
        </div>  
        <div class="flex-grow flex items-center justify-end w-auto text-sm">
            <a href="index.html" class="inline-block mt-0 mr-4">
                Home
            </a>
            <a href="about.html" class="inline-block mt-0 mr-4">
                About
            </a>
            <a href="contact.html" class="inline-block mt-0">
                Contact
            </a>
        </div>
        {% if settings.dgEnableSearch === true%}
            {% include "components/searchButton.njk" %}
        {%endif%}
    </nav>
    {%else%}
        <div class="empty-navbar" >
            {% if settings.dgEnableSearch === true%}
                {% include "components/searchButton.njk" %}
            {%endif%}
        </div>  
<!-- <nav class="navbar">
        <div class="navbar-inner">
            <a href="/" style="text-decoration: none;">
                <h1 style="margin: 15px !important;">{{meta.siteName}}</h1>
            </a>
        </div>
    </nav> -->
    

{%endif%}