<script>
    // Logging the entire collections object
    console.log('All collection count:', '{{ collections.essays.length }}');
</script>

    <div class="pb-4 border-b border-clay-300">
        <p class="text-bold text-2xl text-moss-700 uppercase pb-0">Essays</span>
        <p>Opinionated, longform narrative writing with an agenda.</p>
    </div>
    <div id="table-essays" class="bg-white divide-y divide-clay-300 border-b border-clay-300">
        {% for post in collections.essays | reverse %}
        <div class="text-moss-700">
            <div class="w-3/4 px-4 pt-8">
                <a class="font-sans text-2xl" href="{{ post.url }}">{{ post.data.title or post.fileSlug }}</a>
            </div>
            <div class="w-3/4 px-4 font-extralight">
                {{ post.data.summary }}
            </div>
            <div class="w-3/4 px-4 pt-4 pb-6 text-xs font-mono uppercase text-clay-500">
                <span class="text-green-600">Seedling</span>  
                <span class="pl-2">{{ post.data.type}}</span> 
                <span class="pl-2">{{ post.data.date_created}}</span>
            </div>
        </div>
        {% endfor %}
        
    </div>